{% load oidc_clients_tags %}
{% load i18n %}

    <h2>{% trans "Authorized applications" %}</h2>

    <div class="account__cards ui card" id="authorized-app">
        <div class="card ___stretch ___nopadding content">
            <h3 class="card__title ___addpadding-side header">{% trans "Authorized applications" %}</h3>

            <p>{% trans "These are the applications connected to you GCaccount." %}</p><br>

                {% for object in authorized_apps %}
                    <div class="auth_app-container">
                        <div class="auth_app-header">
                            <h4>
                                <button aria-expanded="false" aria-controls="app_info_{{ object.id }}" class="d-flex app-collapse">
                                    <div class="align-self-center">
                                        {% get_client_logo object.client as client_obj %}
                                        {% if client_obj.logo %}
                                            <img class="client-logo" src="{{ client_obj.logo }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="align-self-center auth_app-header-name">
                                        {{ object.client }}
                                    </div>
                                </button>
                            </h4>
                        </div>
                        
                        <div id="app_info_{{ object.id }}" class="auth_app-info hidden" aria-hidden="true">
                            <div class="app_info-row">
                                <div class="app_info-row-header">
                                    <p><b>{% trans "Has access to:" %}</b></p>
                                </div>
                                <div class="app_info-row-body">
                                    {% trans "Basic profile information" %}
                                        <ul>
                                            {% readable_scopes object.scope as scopes %}
                                            {% for claim in scopes %}
                                                <li>{{ claim }}</li>
                                            {% endfor %}
                                        </ul>
                                </div>
                            </div>

                            {% if client_obj.url %}
                            <div class="app_info-row">
                                <div class="app_info-row-header">
                                    <p><b>{% trans "Application URL:" %}</b></p>
                                </div>
                                <div class="app_info-row-body">
                                    <a href="{{ client_obj.url }}">{{ client_obj.url }}</a>
                                </div>
                            </div>
                            {% endif %}
                            <div class="app_info-row">
                                <div class="app_info-row-header">
                                    <p><b>{% trans "Connected on:" %}</b></p>
                                </div>
                                <div class="app_info-row-body">
                                    {{ object.date_given }}
                                </div>
                            </div>
                            <form class="disconnect-form" method="post" action="{% url 'remove_access' %}">
                                {% csrf_token %}
                                <input type="hidden"  id="object_id_{{ object.id }}" name="object_id" aria-label="object" value="{{ object.id }}">
                                <button type="submit" class="button ___clear ui negative">{% trans "Disconnect" %}</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}

        </div>
    </div>