{% extends "emails/base.html" %}
{% load i18n %}

{% block content %}
    {% language 'en' %}
    {% get_current_language as LANGUAGE_CODE %}
    {% trans "Hello" %} {{ user.name }},<br />
    <br />
    {% trans "You have requested a new password. Please follow this link to set a new password." %}<br />
    <br />
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a><br />
    <br />
    {% trans "You can ignore this e-mail if you did not request a new password." %}
    {% endlanguage %}
    
    <div id="fr_content" style="border-top:1px solid #ddd; margin-top:15px; padding-top:10px;" lang="fr">
    {% language 'fr' %}
    {% get_current_language as LANGUAGE_CODE %}
    {% trans "Hello" %} {{ user.name }},<br />
    <br />
    {% trans "You have requested a new password. Please follow this link to set a new password." %}<br />
    <br />
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a><br />
    <br />
    {% trans "You can ignore this e-mail if you did not request a new password." %}
    {% endlanguage %}
    </div>
{% endblock %}
