{% extends "emails/base.html" %}
{% load i18n %}
{% load app_customization %}

{% block content %}

{% email_language_toggle as toggle %}
{% if toggle %}

    {% get_available_languages as LANGUAGES %}
    {% for langs in LANGUAGES %}
    {% language langs.0 %}
    {% get_current_language as LANGUAGE_CODE %}
    <div id="{{langs.0}}_content" style="border-top:1px solid #ddd; margin-top:15px; padding-top:10px;" lang="{{langs.0}}">
    {% trans "Hi" %} {{ user.name }},<br />
    <br />
    {% trans "We received a request to change your password. You can click on the link below to reset your password:" %}<br />
    <br />
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a><br />
    <br />
    <span style="font-style: italic;">{% trans "Note: If the link doesn’t work, copy and paste it in your browser’s address bar." %}</span>
    <br /> <br />
    {% trans "If you didn’t request a password reset, you can safely ignore this email. Your password will not change." %}
    <br /> <br />
    {% trans "If you are still having password or account issues after the reset link, you can contact the <a href='https://gccollab.ca/help/knowledgebase' alt='help desk'>help desk</a> and an agent will help you change your password." %}
    <br /> <br />
    {% trans "Have a great day!" %}
    </div>
    {% endlanguage %}
    {% endfor %}

{% else %}

    {% trans "Hi" %} {{ user.name }},<br />
    <br />
    {% trans "We received a request to change your password. You can click on the link below to reset your password:" %}<br />
    <br />
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a><br />
    <br />
    <span style="font-style: italic;">{% trans "Note: If the link doesn’t work, copy and paste it in your browser’s address bar." %}</span>
    <br /> <br />
    {% trans "If you didn’t request a password reset, you can safely ignore this email. Your password will not change." %}
    <br /> <br />
    {% trans "If you are still having password or account issues after the reset link, you can contact the <a href='https://gccollab.ca/help/knowledgebase' alt='help desk'>help desk</a> and an agent will help you change your password." %}
    <br /> <br />
    {% trans "Have a great day!" %}
    </div>

{% endif %}
{% endblock %}