{% extends "emails/base.html" %}
{% load user_sessions i18n %}{% trans "<em>unknown on unknown</em>" as unknown_on_unknown %}{% trans "<em>unknown</em>" as unknown %}
{% load app_customization%}

{% block content %}

{% email_language_toggle as toggle %}
{% if toggle %}

    {% get_available_languages as LANGUAGES %}
    {% for langs in LANGUAGES %}
    {% language langs.0 %}
    {% get_current_language as LANGUAGE_CODE %}
    <div id="{{langs.0}}_content" style="border-bottom:1px solid #ddd; margin-top:15px; padding-top:10px;" lang="{{langs.0}}">
    {% trans "Hello" %} {{ user.name }},<br />
    <br />
    {% trans "You logged in to your account from a new location." %}<br />
    <br />
    {{ user_agent|device|default_if_none:unknown_on_unknown|safe }}<br />
    {{ city }}, {{ country }}<br />
    <br />
    {% trans "If it was you safely ignore this e-mail. Otherwise please change your password as soon as possible." %}    
    </div>
    {% endlanguage %}
    {% endfor %}

{% else %}

    {% trans "Hello" %} {{ user.name }},<br />
    <br />
    {% trans "You logged in to your account from a new location." %}<br />
    <br />
    {{ user_agent|device|default_if_none:unknown_on_unknown|safe }}<br />
    {{ city }}, {{ country }}<br />
    <br />
    {% trans "If it was you safely ignore this e-mail. Otherwise please change your password as soon as possible." %}  

{% endif %}

{% endblock %}
