{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}
{% load app_customization %}

{% block page_title %}
{% trans "Security questions" %}
{% endblock %}

{% block content %}
    <div class="login__step-title">
        <div>
            <h1 class="ui large header">{% trans "Security questions" %}</h1>
        </div>
    </div>
    {% if has_questions %}
    <p class="">{% trans "Please enter the answers to the security questions you picked." %} </p>
    {% if form.non_field_errors %}
      <ul style="list-style:none;" class="ui message negative">
          {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <form method="post" action="/password_reset-reinitialiser_le_mot_de_passe/questions/" class="ui form" autocomplete="off">
      {% csrf_token %}
      <fieldset>
          <input type="hidden"  id=id_question_email name="question_email" aria-label="email" value="{{ request.session.email }}">
          <div class="field">
            <label for="id_answer_one">{% load_question questions.0 %}</label>
            {{ form.answer_one }}
            <input type="hidden" name="q1" aria-label="question number 1"  value="{{ picks.0 }}">
          </div>
          <div class="field">
            <label for="id_answer_two">{% load_question questions.1 %}</label>
            {{ form.answer_two }}
            <input type="hidden" name="q2" aria-label="question number 2" value="{{ picks.1 }}">
          </div>
          <button name="submit" class="fluid ui button primary" type="submit">{% trans "Submit" %}</button>
      </fieldset>
    </form>

    <div class="register__buttons">
        <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
    </div>
    {% else %}
    <div class="ui message negative">
        <p>{% trans "Your account does not have any set security questions. You can submit a ticket to  help desk to reset your password." %}</p>
    </div>

    <div class="register__buttons">
        <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
          {% if app.APP_HELPDESK_LINK %}
              <a style="float:right;" href="{{ app.APP_HELPDESK_LINK }}">{% trans "Contact help desk" %}</a>
          {% endif %}
    </div>
    {% endif %}

{% endblock %}
