{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}
{% load app_customization %}

{% block page_title %}
{% trans "Your email address has not been verified" %}
{% endblock %}

{% block content %}
    <h1 class="ui large header">{% trans "Your email address has not been verified" %}</h1>

    {% if submit is False %}
    <p>{% trans "Your email address " %} <strong>{{ email }}</strong> {% trans " needs to be verified before we can activate your account." %}</p>
    
    <form method="post" action="{% url 'password_reset_not_active' %}" class="ui form">
      {% csrf_token %}
      <fieldset>
        <div class="field">
          <input type="hidden" name="email" id="id_email" value="{{ email }}" aria-label={% trans "Email" %}>
        </div>
        <button name="send" class="fluid ui button primary" type="submit">{% trans "Re-send verification email" %}</button>
      </fieldset>
    </form>
    {% else %}
    <div class="message positive ui">
      <div class="content">
        <div class="textcolor_primary">{% trans "Verification email sent!" %}</div>
        <div class="textcolor_secondary">
          <p>{% trans "Please check your email inbox and click the verification link to continue using your account." %}</p>
          <p>{% trans "If you can't find the email in your inbox, please check your junk folder." %}</p>
          <p>{% trans "Still no email? Contact our help desk" %} (<a target="_blank" href="{{ app.APP_HELPDESK_LINK }}">{{ app.APP_HELPDESK_LINK }}</a>){% trans " to access your account." %}</p>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="register_block">
        <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
    </div>
{% endblock %}
