{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}
{% load app_customization %}

{% block page_title %}
{% trans "Account not activated" %}
{% endblock %}

{% block content %}
    <h1 class="ui large header">{% trans "Account not activated" %}</h1>

    <p>The account <strong>{{ email }}</strong> has not been activated.</p>

    {% if submit is False %}
    <form method="post" action="{% url 'password_reset_not_active' %}" class="ui form">
      {% csrf_token %}
      <fieldset>
        <div class="field">
          <input type="hidden" name="email" id="id_email" value="{{ email }}" aria-label={% trans "Email" %}>
        </div>
        <button name="send" class="fluid ui button primary" type="submit">{% trans "Resend verification email" %}</button>
      </fieldset>
    </form>
    {% else %}
    <div class="message positive ui">
      <div class="content">
        <div class="textcolor_primary">{% trans "Verification email sent" %}</div>
        <div class="textcolor_secondary">{% trans "Open the link in the verification email to complete your registration." %} </div>
      </div>
    </div>
    {% endif %}

    <a target="_blank" href="{{ app.APP_HELPDESK_LINK }}">{% trans "Help / Contact Us" %}</a>

    <div class="register_block">
        <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
    </div>
{% endblock %}
