{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}
{% load settings_value %}
{% load app_customization %}

{% block content %}

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <div class="login__step-title">
        <div>
            <h1 class="ui large header">{% trans "Security Alert" %} </h1>
        </div>
            <!--<img src="/static/images/logo-icon.svg" class="login__step-icon"/>-->
    </div>

    <div class="ui large negative message" id="error_login">
        <div class="textcolor_primary">{% trans "Your account has been temporarily locked for "%} {{ cooloff_time_minutes }} {% trans "minutes as the incorrect password has been entered" %} {{ failure_limit }} {% trans " times." %}</div><br>
        <div class="textcolor_primary">{% trans "An email has been sent to "%} {{ email_lockout }} {% trans "to reset your password and unlock your account." %}</div><br>
        <div class="textcolor_primary">{% trans "If you no longer have access to"%} {{ email_lockout }} {% trans "you can contact <a href='https://gccollab.ca/help/knowledgebase' alt='help desk'>help desk</a> and an agent will help you get back into your account." %}</div><br>

    </div>
<div><a class="button ___stretch ___active fluid ui button primary" href="{% url 'login' %}">{% trans "Return to sign in" %}</a></div>


{% endblock %}
