{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}
{% load settings_value %}
{% load app_customization %}

{% block content %}

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <div class="login__step-title">
        <div>
            <h1 class="ui large header">{% trans "Security Alert" %} </h1>
        </div>
            <!--<img src="/static/images/logo-icon.svg" class="login__step-icon"/>-->
    </div>

    <div class="ui large negative message" id="error_login">
        <div class="textcolor_primary">{{ failure_limit }} {% trans "or more failed login attempts" %}</div>
        <div class="textcolor_primary">{% trans "Account locked for" %} {{ cooloff_time_minutes }} {% trans "minutes" %}</div>

    </div>

<div><a href="{% url 'login' %}">{% trans "Return to sign in" %}</a></div>


{% endblock %}
