{% extends "base.html" %} 
{% load i18n %} 
{% load Pleio_templatetags %} 
{% block page_title %} Onbording merge account {% endblock %} 
{% block content %}
    {% if user.is_authenticated %}
    GCCONNEX credential<br/>
    <p>Connected.Cupcake ipsum dolor sit amet muffin fruitcake. Gummies wafer icing cheesecake powder gummi bears cookie jelly. Cupcake topping chocolate cake toffee sesame snaps I love.
    </p>
          <div class="content" style="margin-top:15px">
              <div class="ui items">
                  <div class="item">
                    <div class="image">
                      <img src="http://via.placeholder.com/150x150">
                    </div>
                    <div class="content">
                      <a class="header">{{ user.username }}</a>
                      <div class="meta">
                        <span>{{ user.email }}</span>
                      </div>
                      <div class="description">
                        <p></p>
                      </div>
                      <div class="extra">
                        Job title
                      </div>
                    </div>
                  </div>
                </div>
                
            <div class="ui grid">
                <div class="one column row">
                  <div class="left floated column"> 
                      <form method="post" action="." class="ui form">
                          <div class="field">
                              <label>Password</label>
                              <input type="password">
                            </div>
                      </form>
                  </div>
                  <div class="two column row" style="margin-top:15px;">
                      <div class="right floated column"> 
                        <a class="right floated ui button default" href="/onboarding-logconnex.html">Next</a>
                      </div>
                      <div class="left floated column" style="margin-top:10px;">
                          <a href="{% url 'password_reset' %}" class="forgot-password">{% trans "Forgot password" %}?</a>
                      </div>
                      
                  </div>
              

                </div>
              </div>
            </div>

      
    {% endif %} 
    {% endblock %}
