{% extends "base.html" %} 
{% load i18n %} 
{% load Pleio_templatetags %} 
{% block page_title %} Onbording merge account {% endblock %} 
{% block content %}
    {% if user.is_authenticated %}
    Hello, {{ user.username }}.<br/>
    Your email is: {{ user.email }}.<br/>
    <p style="width:500px">Connected.Cupcake ipsum dolor sit amet muffin fruitcake. Gummies wafer icing cheesecake powder gummi bears cookie jelly. Cupcake topping chocolate cake toffee sesame snaps I love.
    </p>
    <div class="ui three column grid">

        <div class="column">
            <div class="ui small image">
                <img src="http://via.placeholder.com/640x360">
              </div><br/>
        </div>
        <div class="column center aligned">
            <i class=" massive arrow right icon"></i>
        </div>
        
        <div class="column">
            <div class="ui small image">
                <img src="http://via.placeholder.com/640x360">
              </div><br/>           
        </div>
      </div>
      <a class="btn btn-primary" href="/logconnex.html">Start</a>
    {% else %}
        <p>Not connected.Cupcake ipsum dolor sit amet muffin fruitcake. Gummies wafer icing cheesecake powder gummi bears cookie jelly. Cupcake topping chocolate cake toffee sesame snaps I love.
        </p>
        <form method="post" action="." class="ui form"></form>
            <div class="field">
                <label for="id_email">{% trans "Email" %}</label>
                <span id="error_email">{{ form.errors.email }}</span>
                {{ form.email }}
            </div>
            <div class="next__buttons">
                <button name="next" class="right floated ui button primary" type="submit">{% trans "Next" %}</button>
                <a class="btn btn-primary" href="/onboarding2.html">Next step</a>
            </div>
        </form>
    {% endif %}
{% endblock %}
