{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block page_title %}
{% trans "Security questions" %}
{% endblock %}

{% block content %}
    <div class="login__step-title">
        <div>
            <h1 class="ui large header">{% trans "Security questions" %}</h1>
        </div>
    </div>
    {% if has_questions %}
    <p class="">{% trans "Using questions you selected" %} </p>
    {% for error in form.non_field_errors %}
      {{error}}
    {% endfor %}

    <form method="post" action="/password_reset/questions/" class="ui form" autocomplete="off">
      {% csrf_token %}
      <fieldset>
          <input type="hidden"  id=id_question_email name="question_email"  value="{{ request.session.email }}">
          <div class="field">
            <label for="id_answer_one">{% load_question questions.0 %}</label>
            {{ form.answer_one }}
            <input type="hidden" name="q1"  value="{{ picks.0 }}">
          </div>
          <div class="field">
            <label for="id_answer_two">{% load_question questions.1 %}</label>
            {{ form.answer_two }}
            <input type="hidden" name="q2"  value="{{ picks.1 }}">
          </div>
          <button name="submit" class="fluid ui button primary" type="submit">{% trans "Submit" %}</button>
      </fieldset>
    </form>
    {% else %}
      <p>You got no question</p>
    {% endif %}

    <div class="register__buttons">
        <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
    </div>
{% endblock %}
