{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block page_title %}
{% trans "Security questions" %}
{% endblock %}

{% block content %}
    <div class="login__step-title">
        <div>
            <h1 class="ui large header">{% trans "Security questions" %}</h1>
        </div>
    </div>

    <p class="">{% trans "Using questions you selected" %} </p>

    <form class="ui form">
      <fieldset>
          <div class="field">
            <label for="id_answer_one">Will eventually be random question? #1</label>
            {{ form.answer_one }}
          </div>
          <div class="field">
            <label for="id_answer_two">Will eventually be random question? #2</label>
            {{ form.answer_two }}
          </div>
          <button name="submit" class="fluid ui button primary" type="submit">{% trans "Submit" %}</button>
      </fieldset>
    </form>

    <div class="register__buttons">
        <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
    </div>
{% endblock %}
